{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
    <style>
        .btn-custom {
            width: 200px; 
            margin: 5px; 
            border-radius: 20px; 
        }
        .mt-xl {
            margin-top: 100px; 
        }
    </style>
    <title>Account Creation</title>
</head>
<body>
    <div class="d-flex justify-content-center mt-xl">
        <h1>Select type of account</h1>
    </div>
    <div class="d-flex justify-content-center mt-xl">
        <a class="btn btn-primary btn-custom" href="{% url 'whistleblower:level_user' %}">Create as User</a>
        <a class="btn btn-secondary btn-custom" href="{% url 'whistleblower:level_admin' %}">Create as Admin</a>
    </div>
</body>
</html>